html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 50%;
}

main {
  width: 70%;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calculator div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.calculator label {
  width: 150px;
}

button {
  width: fit-content;
}

.result {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.res {
  height: 30px;
  border: 1px solid gray;
  width: 100px;
}

.result label {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
